*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.blog_container{
  width: 80%;
  margin: 2rem auto;
  border-radius: 10px;
}

.blog_title{
  font-size: 50px;
  font-family: Tilt Neon;
  font-weight: 400;
  color: aqua;
  padding-bottom: 40px;
  justify-content: center;
  text-align: center;
}

.blog_card{
  display: flex;
  box-shadow: 0 0 2.5rem rgba(91, 90, 90, 0.945);
  overflow: hidden;
  border-radius: 20px;
}

.blog_card_image{
  height: 30rem;
  overflow: hidden;
}

.blog_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card_content{
  padding: 2rem;
}

.blog_author{
  display: flex;
  align-items: center;
}

.add-blog-button{
  padding: 16px 32px 17px;
  border-radius: 4px;
  margin: 7px;
  border: none;
  background-color: aqua;
  color: black;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0em -0.2em 0em whitesmoke inset;
  left: 680px;
  position: relative;
  top: 5px;
}

.add-blog-button:hover{
  background-color: transparent;
  color: white;
  border: 3px solid white;
}